<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>onlinelibraryproj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>admin</servlet-name>
    <jsp-file>/WEB-INF/adminactions.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cust</servlet-name>
    <jsp-file>/WEB-INF/newcust.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>cust</servlet-name>
    <url-pattern>/newcust</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addbooks</servlet-name>
    <jsp-file>/WEB-INF/addbooks.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>addbooks</servlet-name>
    <url-pattern>/books</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>check</servlet-name>
    <jsp-file>/WEB-INF/checkbooks.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>check</servlet-name>
    <url-pattern>/checkbooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>issue</servlet-name>
    <jsp-file>/WEB-INF/issuepage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>issue</servlet-name>
    <url-pattern>/issuepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>get</servlet-name>
    <jsp-file>/WEB-INF/getbackbooks.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>get</servlet-name>
    <url-pattern>/getbook</url-pattern>
  </servlet-mapping>
</web-app>